body
{
	background-image: url(bg.jpg);
	background-size: 1365px 1000px;
	background-repeat: no-repeat;
}
#img
{
    position: absolute;
	top:9%;
	right: 0.5%;
	display: block;
	margin: auto;
    width: 97%;
    height: 55%;
    border: 4px solid white;
    padding: 10px;
}
.mySlides
{
	position: absolute;
	top:0;
	left:0%;
	width: 150%;
    height: 100%;
}
.content
{
	position: absolute;
	top:-7%;
	left: 20%;
	width: 70%;
	height:50%;

}
#a
{
	position: absolute;
	top:67%;
	right:15%;
	width: 70%;
	height:50%;
	font-family: Comic Sans MS;

}
h2
{
	position: absolute;
	top:75%;
	right: 15%;
	width: 70%;
	height:50%;
	font-family: Comic Sans MS;
}
#c
{
	position: absolute;
	top:82%;
	left: 15%;
	width: 70%
	height:50%;
	font-family: Tekton Pro;
	color: 	#696969;
}
#b
{
	position: absolute;
	top:100%;
	right:15%;
	width: 70%;
	height:50%;
	font-family: Comic Sans MS;
}
#d
{
	position: absolute;
	top:107%;
	right:15%;
	width: 70%;
	height:50%;
	font-family: Tekton Pro;
	color: 	#696969;
}
#s
{
	position: absolute;
	top:70%;
	right:10%;
	width: 30%;
	height: 20;
}
#p
{
	position: absolute;
	top:-2%;
	left:15%;
	width: 50;
	height: 50;
	color:white;
}
#img1{
	position: absolute;
	top:135%;
	left:15%;
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
.txt
{
position: absolute;
top:20%;
width: 40%;
height: 60%;

}
#l
{
font-family: Agency FB;
color: white;
}
/**
{
    font-family: Sans-serif;
    font-weight:bold;
}

.navbar
{
	overflow: hidden;
    background-image: linear-gradient(grey,#f3f3f3);

}

.navbar a 
{

    float: right;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown 
{
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn 
{
    font-size: 16px;    
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn 
{
    color: white;
    background-color: green;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    right: 0%;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a 
{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover 
{
    color: black;
    background-color: lightgrey;
}

.dropdown:hover .dropdown-content 
{
    display: block;
}
.social
{
    padding: 20px;
    font-size: 15px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 35px;
}
footer 
{
	position: absolute;
	top:150%;
	left: 0%;
	width:100%;
background-image: linear-gradient(white,#f3f3f3);
padding: 0px 0px;
}*/

Style.txt
Displaying Style.txt.